# Ignorar el entorno virtual

# Ignorar archivos Python compilados
*.pyc
__pycache__/

# Ignorar bases de datos SQLite
resurrectionamericancar/media/
resurrectionamericancar/assets/
resurrectionamericancar/db.sqlite3/
resurrectionamericancar/venv/