# Ignorar el entorno virtual
venv/
resurrectionamericancar/venv/

# Ignorar la carpeta de medios (imágenes, documentos, etc.)
resurrectionamericancar/media/
/media/

# Ignorar archivos Python compilados
*.pyc
__pycache__/

# Ignorar bases de datos SQLite
resurrectionamericancar/db.sqlite3/
*.sqlite3