{% extends "layout.html" %} 
{% block title %}
    About 
{% endblock %} 
{% block content%}
<h1 class="text-center">Resurrection American Car</h1>

<div class="about-content">
    <p>
        En <strong>Resurrection American Car</strong>, nos enorgullece ofrecer una experiencia única para nuestros clientes. 
        Estamos comprometidos con la satisfacción total de quienes confían en nosotros, ya sea que estén adquiriendo un vehículo de calidad, accesorios o servicios especializados. 
        Nos aseguramos de que cada uno de nuestros clientes reciba atención personalizada, profesional y amable.
    </p>

    <p>
        Nuestra misión es proporcionar vehículos de las mejores marcas y modelos, asegurando su total funcionalidad y seguridad. Ya sea que compre en línea o en nuestra tienda física, siempre encontrará opciones que se ajusten a sus necesidades y presupuesto.
    </p>

    <p>
        <strong>Dirección:</strong> Calle 46 entre 35 y 37, Miami, FL. ¡Lo esperamos con gusto para ofrecerle el mejor servicio y la más amplia variedad de autos!
    </p>

    <p>
        Nuestro equipo está siempre dispuesto a ayudarle con cualquier consulta o necesidad. En <strong>Resurrection American Car</strong>, su satisfacción es nuestra prioridad.
    </p>
</div>

{% endblock %}
