{% extends "layout.html" %} 
{% block title %}
 Cars 
{% endblock %} 
{% block content %}
<div class="container mt-4">
  <div class="row">
    <!-- Div para los filtros a la izquierda -->
    <div class="col-md-3">
        <h5>Filtre su búsqueda</h5>
      <!-- Formulario de filtros -->
      <form method="get" action="{% url 'cars:list' %}" class="row gy-3">
        <div class="col-12 mb-1">
          <label for="marca" class="form-label">Marca:</label>
          <select name="marca" id="marca" class="form-select">
            <option value="">Todas</option>
            <option value="ACURA">ACURA</option>
            <option value="ALFA ROMEO">ALFA ROMEO</option>
            <option value="TOYOTA">TOYOTA</option>
            <!-- Agregar más opciones según las marcas en tu base de datos -->
          </select>
        </div>
        <div class="col-12 mb-1">
          <label for="fuel_type" class="form-label">Tipo de Combustible:</label>
          <select name="fuel_type" id="fuel_type" class="form-select">
            <option value="">Todos</option>
            <option value="Gasolina">Gasolina</option>
            <option value="Electric">Electric</option>
            <!-- Agregar más opciones según los tipos de combustible -->
          </select>
        </div>
        <div class="col-12 mb-1">
          <label for="nuevo_usado" class="form-label">Nuevo o Usado:</label>
          <select name="nuevo_usado" id="nuevo_usado" class="form-select">
            <option value="">Todos</option>
            <option value="nuevo">nuevo</option>
            <option value="usado">usado</option>
            <!-- Agregar más opciones según los tipos de combustible -->
          </select>
        </div>
        <div class="col-12 mb-1">
          <label for="color" class="form-label">Color:</label>
          <select name="color" id="color" class="form-select">
            <option value="">Todos</option>
            <option value="azul">azul</option>
            <option value="amarillo">amarillo</option>
            <option value="blanco">blanco</option>
            <option value="carmelita">carmelita</option>
            <option value="gris">gris</option>
            <option value="negro">negro</option>
            <option value="rojo">rojo</option>
            <option value="verde">verde</option>
            <option value="morado">morado</option>
            <option value="plateado">plateado</option>
            <!-- Agregar más opciones según los tipos de combustible -->
          </select>
        </div>
        <!-- year_min Select -->
        <div class="col-12 mb-1">
          <label for="year_min" class="form-label">Año Mínimo:</label>
          <input
            type="number"
            name="year_min"
            id="year_min"
            min="1950"
            value="1950"
            class="form-control"
          />
        </div>
        <div class="col-12 mb-1">
          <label for="year_max" class="form-label">Año Máximo:</label>
          <input
            type="number"
            name="year_max"
            id="year_max"
            max="2024"
            value="2024"
            class="form-control"
          />
        </div>
        <div class="col-12 mb-1">
          <label for="precio_min" class="form-label">Precio Mínimo:</label>
          <input
            type="number"
            name="precio_min"
            id="precio_min"
            min="1000"
            value="1000"
            class="form-control"
          />
        </div>
        <div class="col-12 mb-1">
          <label for="precio_max" class="form-label">Precio Máximo:</label>
          <input
            type="number"
            name="precio_max"
            id="precio_max"
            max="360000"
            value="360000"
            class="form-control"
          />
        </div>
        <div class="col-12 mb-1">
          <label for="only_oneowner" class="form-label">Un solo dueño:</label>
          <input
            type="checkbox"
            name="only_oneowner"
            id="only_oneowner"
            value="true"
            class="form-check-input"
          />
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Filtrar</button>
        </div>
      </form>
    </div>
    <div class="col-md-9">
      <div class="row">
        {% for car in cars %}
        <div class="col-md-4">
          <div class="card mb-4">
            <img
              class="card-img-top img-fluid rounded shadow"
              src="{{ car.imagen.url }}"
              alt="{{ car.marca }}"
            />
            <div class="card-body">
              <h5 class="card-title">
                {{ car.marca }} - {{ car.year }} - {{ car.modelo }}
              </h5>
              <p class="card-text">{{ car.color }}</p>
              <p class="card-text">$ {{ car.precio }}</p>
              <a
                href="{% url 'cars:car-page' id=car.id %}"
                class="btn btn-outline-primary">Ver detalles</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- Paginador -->
      <div class="d-flex justify-content-center">
        <nav>
          <ul class="pagination">
            {% if cars.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1" aria-label="Primera">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ cars.previous_page_number }}" aria-label="Anterior">
                <span aria-hidden="true">&lt;</span>
              </a>
            </li>
            {% endif %}
            
            <li class="page-item active">
              <span class="page-link">{{ cars.number }}</span>
            </li>
            
            {% if cars.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ cars.next_page_number }}" aria-label="Siguiente">
                <span aria-hidden="true">&gt;</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ cars.paginator.num_pages }}" aria-label="Última">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
      <!--fin del paginador-->
    </div>
  </div>
</div>
{% endblock %}
